# disable directory browsing
# Options All -Indexes

# or map them to one error document:
# ErrorDocument 400 http://localhost/inventory-kayu/app/400.php
# ErrorDocument 401 http://localhost/inventory-kayu/app/401.php
# ErrorDocument 403 http://localhost/inventory-kayu/app/403.php
# ErrorDocument 404 http://localhost/inventory-kayu/app/404.php
# ErrorDocument 500 http://localhost/inventory-kayu/app/500.php
# ErrorDocument 502 http://localhost/inventory-kayu/app/502.php
# ErrorDocument 504 http://localhost/inventory-kayu/app/504.php